// Ao invés de importar a função aqui que é um método obsoleto, usar a cal(), se mostra muito melhor
// @import '../../../config-scss/rem-calc.scss';

// Pra aplicar apenas dentro desse componente
:host {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(40rem/16);
  }
}
