/* You can add global styles to this file, and also import other style files */
// Versões passadas import

@use './config-scss/variables.scss';

@use './config-scss/reset.scss';

@use './config-scss/btn.scss';

@use './config-scss/animation.scss';

// Embora agora se utilize apenas o @use, nesse caso de passar função, somente com o import funciona
// // Ao invés de importar a função aqui que é um método obsoleto, usar a cal(), se mostra muito melhor
// @import './config-scss/rem-calc.scss';

html {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main {
  width: calc(600rem/16);
  margin: 0 auto;
  // Tendo pading, o elemento é "jogado" pra dentro
  box-sizing: border-box;
}
